body {
    font-family: 'Montserrat', sans-serif;
    position: sticky;
}

nav a p {
    font-size: 16px;
    font-weight: 700; 
    margin-bottom: 0;
}

.nav-link {
    color: rgb(210, 255, 211) !important;
    font-weight: 700;
    transition: 0.05s;
    text-decoration: none;
}

.nav-link:hover {
    color: white !important;
    text-decoration: none;
    scale: 1.05;
    
}

.menu {
    background-color: #4eb165;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    font-weight: bold;
}

.logo {
    height: 40px;
}

.mx-5 {
    margin-left: 21rem !important;
    margin-right: 21rem !important;
}

.menu__title {
    color: rgb(255, 255, 255);
    text-decoration: none;
    transition: 0.1s;
}

.menu__title:hover {
    color: white;
    text-decoration: none;
    scale: 1.05;
}

/* .menu__title__text {
    margin-left: 0.25rem;
    text-align: center;
} */

.menu__title p {
    /* margin-left: 0.25rem; */
    color: red;
}
/* 
.menu__nav {
    display: flex;
    justify-content: center;
} */

.menu__nav__item {
    color: rgb(220, 253, 210);
    transition: 0.05s;
    text-decoration: none;
}

.menu__nav__item:hover {
    color: rgb(248, 248, 248);
    text-decoration: none;
    scale: 1.05;
}

.menu__nav__item:active {
    color: rgb(219, 0, 0);
}
