body {
    font-family: 'Montserrat', sans-serif;
    position: sticky;
}


.menu {
    align-items: center;
    background-color: #F7F7F7;
    box-sizing: border-box;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    display: flex;
    height: 80px;
    justify-content: space-between;
    padding: 0 13.45rem;
    width: 100%;
}

.logo {
    height: 40px;
}

.menu__logo {
    box-sizing: border-box;
    font-weight: bold;
    padding: 0.25rem;
}

.menu__title {
    align-items: center;
    color: rgb(0, 136, 41);
    display: flex;
    text-decoration: none;
}

.menu__title__text {
    margin-left: 0.25rem;
    text-align: center;
}

.menu__title p {
    margin-left: 0.25rem;
    color: red;
}

.menu__nav {
    display: flex;
    justify-content: center;
}

.menu__nav__item {
    color: rgb(81, 81, 81);
    display: flex;
    font-weight: bold;
    margin: 0 1.5rem;
    transition: 0.05s;
    text-decoration: none;
}

.menu__nav__item:hover {
    color: rgb(0, 140, 0);
    scale: 1.05;
}

.menu__nav__item:active {
    color: rgb(219, 0, 0);
}
