main {
    display: grid;
    justify-content: center;
    width: 100%;
}

h1 {
    margin: 2rem 0 0.5rem 0;
    font-size: 1.5rem;
    font-weight: 900;
}

/* .primary-container {
    display: flex;
    justify-content: center;
    margin: 0 !important;
    padding: 0 !important;
    width: 100%;
} */

.form-container {
    background-color: rgb(216, 215, 215);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    margin-bottom: 3rem;
    padding: 0 2rem 1.5rem 2rem;
    min-width: 35rem;
    max-width: 40rem;
}

/* .form__container label:not(:first-child) {
    margin-top: 1.75rem;
} */

.label {
    font-size: 0.75rem;
    font-weight: bold;
    margin: 1.5rem 0 0.5rem 0;
}

.form-control {  
    background-color: rgb(244, 244, 244);
    border-radius: 4px;
    border-style: none;
    box-sizing: border-box;
    box-shadow: 0px 3px 2px rgba(0,0,0,0.1);
    color: rgb(123, 123, 123);
    font-size: 1rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    height: 2.5rem;
    padding: 0 1rem;
}

.form-control:hover {
    background-color: white;
}

.form-control:focus {
    border-style: none;
    background-color: rgb(233, 255, 233);
}

.form-control::placeholder {
    color: rgb(173, 173, 173);
}

.form-control:focus::placeholder {
    color: rgb(139, 188, 132);
}

.select-input:checked {
    color: rgb(123, 123, 123);
}

.area-input {
    height: 7rem;
    min-height: 3rem;
    max-width: 100%;
    min-width: 100%;
    padding: 0.75rem 1rem;
}

.form-check {
    display: flex;
    color: rgb(109, 109, 109);
    margin-top: 0.5rem;
}

.form-check-label {
    font-weight: 500;
}

.form-check-label:hover {
    color: black;
}

.form-check-input {
    border-style: none;
    bottom: 0.05rem;
    left: 1.35rem;
}

.btn-success {
    align-self: center;
    border-radius: 0.25rem;
    font-weight: bold;
    margin-top: 1.5rem;
    width: 10rem;
}