.rodape {
    align-items: center;
    background-color: rgb(117, 170, 96);
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}

.rodape__map {
    background-color: rgb(133, 203, 113);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem 0;
    width: 100%;
}

.rodape__map h3 {
    margin-bottom: 0.5rem;
    font-weight: bold;
}

.rodape__map iframe {
    border-radius: 5px;
}

.rodape__copyright {
    padding: 1rem 0 ;
}